{% extends 'base.html' %}

{% block title %}AdminPage{% endblock %}

{% block content %}
<div align="center" style="margin-top: 10%;">
    <form action="/{{ products.id }}/update" method="post" enctype="multipart/form-data">
        <label for="name"><strong>Imie produktu:</strong></label><br>
        <input type="text" value="{{ products.name }}" maxlength="50" id="name" name="name" style="text-align:center;"><br><br>

        <label for="description"><strong>Opis:</strong></label><br>
        <input type="text" value="{{ products.description }}" maxlength="150" id="description" name="description" style="text-align:center;"><br><br>

        <label for="price"><strong>Cena:</strong></label><br>
        <input type="text" value="{{ products.price }}" maxlength="20" id="price" name="price" style="text-align:center;"><br><br>

        <label for="free_size"><strong>Dostępne rozmiary:</strong></label><br>
        <input type="text" value="{{ products.free_size }}" maxlength="50" id="free_size" name="free_size" style="text-align:center;"><br><br>

        <label for="how"><strong>Ilość:</strong></label><br>
        <input type="how" value="{{ products.how }}" maxlength="4" name="how" id="how" style="text-align:center;"><br><br>

        <label for="file"><strong>Zdięcie: </strong></label>
        <input type="file" name="file" id="file" style="text-align:center;"><br><br>

        <button type="submit" class="btn btn-success">Zmienić</button>
    </form>
</div>
{% endblock %}